@charset "UTF-8";
 
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 0px 0px 50px 0px;
    padding-bottom: 10px;
    background-color: rgb(215, 176, 255);
}

header > h1{
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

h2{
    font-size: 1em;
}

p{
    font-size: 0.9em;
}

ul, li{
    margin:0px 10px 0px 5px;
    display: flex;
}

li{
    background-color: blueviolet;
    padding: 2px;
    border: 1px rgba(98, 3, 157, 0.322) solid;
    border-radius: 3px;
}

p{
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: white;
}

main{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    max-width: 70vw;
    margin: auto;
    border: 1px solid white;
    border-radius: 15px;

}

span{
    color: rgb(79, 27, 171);
     white-space: nowrap;
}


article > h1{
    padding-bottom: 7px;
    text-align: center;
    margin: 2px;
}

.breackpoints{
    margin: 0px 20px 0px 40px;
    list-style-type: disc; 
    display: flex;
    flex-direction: column;
    gap: 5  px;
}

.breackpoints li {
  display: list-item !important; /* faz os itens agirem como lista normal */
}

.infospan .titulo {
  font-weight: bold;
  margin-bottom: 0.3em;
  font-size: 1em;
}

.infospan{
  font-size: 0.9em;
  display: block !important; /* força a lista a não ficar lado a lado */
  background-color: white;
  border: none;
  word-wrap: break-word;
  
}