div.container{
    background-color: aqua;
    display: flex;
}

div.item{
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
    flex-basis: 200px;
}

div#cA{
    flex-grow: 1;
    flex-shrink: 2;
}

div#cB{
    flex-grow: 2;
    flex-shrink: 2;
    
}

div#cC {
    flex-grow: 4;
}