div.container{
    background-color: aqua;
    display: flex;
}

div.item{
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
}

div#cA{
    flex: 1 1 100px;
}

div#cB{
    flex: 1 1 300px;

    
}

div#cC {
    flex: 1 1 auto;
}